body {
  font-family: "Montserrat", sans-serif;
}

h1 {
  text-align: center;
  color: #ffa687;
}

h2 {
  text-align: center;
  border: 1px solid #ffa687;
  border-radius: 4px;
  padding: 15px;
  font-size: 18px;
}

img {
  display: block;
  margin: 0 auto;
  max-width: 100%;

  border-radius: 10px;
}

p {
  line-height: 1.5;
  font-size: 13px;
  margin: 20px 0 10px;
}

button {
  display: block;
  margin: 20px auto;
  background: #ffa687;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 15px 20px;
  font-size: 18px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  transition: all 150ms ease-in;
}

button:hover {
  opacity: 0.9;
  cursor: pointer;
}

.container {
  max-width: 600px;
  margin: 60px auto;
  padding: 30px 60px;
}

.learn-more {
  text-decoration: none;
  color: #ffa687;
  font-size: 12px;
}

.learn-more:hover {
  text-decoration: underline;
}

.footer {
  text-align: center;
  opacity: 0.5;
}

.github-link {
  color: #ffa687;
  text-decoration: none;
}
